  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <nav>
    <img class="imageIcon" src="/images/poro.png" alt="Poro Icon">
    <% if (user) { %>
      <div class="dropdown">
        <button class="dropdown-button">
          +
        </button>
        <div class="dropdown-content">
          <a href="/auth/addchampion">Add Champion</a>
          <a href="/auth/addreview">Add Review</a>
        </div>
      </div>
    <% } %>
    <a class="reviews" href="/reviews">Reviews</a>
    <a class="champions" href="/champions">Champions</a>


    <% if (user) { %>
      <div class="dropdownTwo">
      <a class="logout" href="/auth/logout">Logout</a>
      <div class="dropdown-contentTwo">
        <p>Signed in as <%= user.profile.name %></p>
      </div>
      </div>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
