<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/home.css">
<%- include('./partials/nav') %>
<body>
  <div class="text-title">TFT CheatSheet</div>
  <div class="text">Reviews, Guides, and More!</div>
  <img class="tftpenguin" src="/images/assets/tftpenguin.png" alt="TFT Penguin">
</body>
<%- include('./partials/footer') %>
