.btn {
  left: 250px;
  position: absolute;
}

li {
  font-size: 15px;
  margin-left: 55px;
}

h3 {
  font-size: 25px;
}

h1 {
  text-align: center;
}

.break {
  margin-left: -100px;
  margin-bottom: 20px;
}

body {
  background-image: url('/images/assets/poro1.png');
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: bottom -400px right 0%;
}
