.btn {
  left: 250px;
  position: absolute;
}

li {
  font-size: 15px;
  margin-left: 55px;
}

h3 {
  font-size: 25px;
}

h1 {
  text-align: center;
}

.break {
  margin-left: -100px;
  margin-bottom: 20px;
}

body {
  background-image: url('/images/assets/poro1.png');
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: top 230px right 0%;
}

.btn {
  border-radius: 50%;
  width: 19px;
  height: 19px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 0.8s ease-in-out;
  color: blueviolet;
}

.btn:hover {
  background-color: #91C9FF;
}