main {
  font-size: 18px;
  margin-left: 15px;
}

h1 {
  font-size: 36px;
}

.line {
  margin-bottom: 20px;
}

body {
  background-image: url('/images/assets/poro1.png');
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: top 400px right 0%;
}

.btn {
  border-radius: 20px;
  width: 120px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 0.8s ease-in-out;
}

.btn:hover {
  background-color: #91C9FF;
}