h2 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 75px;
}

.notes {
  resize: none;
  height: 100px;
  width: 200px;
  vertical-align: top;
}

.btn {
  display: block;
  margin-left: 25%;
}

form {
  text-align: center;
  margin-left: 15px;
  margin-top: 25px;
  font-size: 15px;
  color:rgb(28, 133, 133);
  font-weight: 700;
}

body {
  background-image: url('/images/assets/poro1.png');
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: bottom 300% right 0%;
}

.btn {
  border-radius: 20px;
  width: 120px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 0.8s ease-in-out;
}

.btn:hover {
  background-color: #91C9FF;
}

input {
  border-radius: 8px;
}