<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>
<section>
<% if (user) { %>
  <h2>Update Review</h2>
  <form action="/reviews" method="POST" autocomplete="off">
    <label>Item Name:</label>
    <input type="text" name="item" autocomplete="off">
    <label>Champion:</label>
    <input type="text" name="champion" autocomplete="off">
    <label>Tier(A-D):</label>
    <input type="text" name="tier" autocomplete="off">
    <label>Notes:</label>
    <input type="text" name="notes" autocomplete="off">
    <button class="btn" type="submit">Update Review</button>
  </form>
<% } %>
</section>


<%- include('../partials/footer') %>